services:
  - type: web
    name: ravon-bot
    env: python
    runtime: python3.11
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: PING_URL
        sync: false
